.about-slider-wrap {
    padding: 0 0 74px;
    @media(max-width: 992px) {padding: 0 0 48px;}
    & .white-title {
        margin-bottom: 72px;
        @media(max-width: 1025px) {margin-bottom: 33px;}
    }
}

.about-slider {
    width: 100%;
    @media(max-width: 992px) {margin-bottom: 32px;}
    .about-slide {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        @media(max-width: 1330px) { align-items: center;}
        & > div {
            width: 100%;
            max-width: 570px;
            @media(max-width: 992px) {max-width: 100%;}
        }
        &-img {
            margin-right: 29px;
            & img {width: 100%;}
            @media(max-width: 992px) {display: none;}
        }
        &-cnt {
            padding: 40px 23px 37px 25px;
            background-color: #FAF9F9;
            border-radius: 8px;
            font-family: 'HelveticaNeueCyr-Roman';
            font-size: 14px;
            line-height: 21px;
            color: rgba(0, 0, 0, 0.5);
            @media(max-width: 992px) { padding: 22px 33px 19px;}
            & p {
                &:not(:last-child){
                    padding-bottom: 15px;
                    @media(max-width: 992px) {padding-bottom: 22px;}
                }
            }
        }
    }
}