<section class="about-section">
    <div class="wrapper">
        <h1 class="page-title title">Про DSV</h1>
        <div class="about">
            <div class="about-row about-row-left">
                <div class="about-img"><img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./images/about-img-1.jpg" alt="about-img-"></div>
                <div class="about-cnt">
                    <p>ТОВ "ДСВ-Україна" є дочірньою структурою компанії Deutsche Saatveredelung AG (DSV), яка була заснована в 2010 році в Україні. DSV - провідна німецька компанія у сфері рослинництва, яка  налічує 95 річну історію. Приблизно 800 акціонерів, головним чином, фермери та співробітники, мають частки в основному капіталі компанії DSV (10% максимум/акціонера).</p>
                    <p>Компанія DSV утримує на території країни та поза її межами значну участь у капіталі видатних компаній, які займаються рослинництвом, і має 100% дочірніх підприємств в Польщі, Франції, Сполученому Королівстві, Нідерландах, Данії та в тому числі Україні. Більше 600 робітників залучені до роботи з компанією DSV.</p>
                    <p>Компанія нараховує велику кількість різних станцій з виведення нових видів насіння, розташованих в усіх кліматичних зонах Європи. Україна знаходиться у континентальній кліматичній зоні і компанія DSV вже багато років займається цілеспрямованою селекцією сортів і гібридів для цієї зони. Напружена робота в селекції і дослідженнях дозволила DSV зайняти лідируючі позиції в Німеччині та Європі.</p>
                </div>
            </div>
            <div class="about-row about-row-right">
                <div class="about-cnt">
                    <p>Селекція, виробництво, консультування та збут посівного зерна є основною ціллю компанії. Основною задачею є  селекція трав’яних культур, ріпаку, озимих зернових, кукурудзи (збут), злаків та проміжних культур. «Все від одного виробника» - є основним правилом компанії.</p>
                    <p>ТОВ "ДСВ-Україна" є дочірньою структурою компанії Deutsche Saatveredelung AG (DSV), яка була заснована в 2010 році в Україні. DSV - провідна німецька компанія у сфері рослинництва, яка  налічує 95 річну історію. Приблизно 800 акціонерів, головним чином, фермери та співробітники, мають частки в основному капіталі компанії DSV (10% максимум/акціонера).</p>
                    <p>Компанія DSV утримує на території країни та поза її межами значну участь у капіталі видатних компаній, які займаються рослинництвом, і має 100% дочірніх підприємств в Польщі, Франції, Сполученому Королівстві, Нідерландах, Данії та в тому числі Україні. Більше 600 робітників залучені до роботи з компанією DSV.</p>
                </div>
                <div class="about-img"><img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./images/about-img-2.jpg" alt="about-img-"></div>
            </div>
            <div class="about-row about-row-left">
                <div class="about-img"><img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./images/about-img-3.jpg" alt="about-img-"></div>
                <div class="about-cnt">
                    <p>Компанія нараховує велику кількість різних станцій з виведення нових видів насіння, розташованих в усіх кліматичних зонах Європи. Україна знаходиться у континентальній кліматичній зоні і компанія DSV вже багато років займається цілеспрямованою селекцією сортів і гібридів для цієї зони. Напружена робота в селекції і дослідженнях дозволила DSV зайняти лідируючі позиції в Німеччині та Європі.</p>
                    <p>Селекція, виробництво, консультування та збут посівного зерна є основною ціллю компанії. Основною задачею є  селекція трав’яних культур, ріпаку, озимих зернових, кукурудзи (збут), злаків та проміжних культур. «Все від одного виробника» - є основним правилом компанії.    </p>
                </div>
            </div>
        </div>
    </div>
</section>