<section class="about-slider-wrap background-gray">
    <div class="white-title">
        <div class="wrapper">
            <h2 class="title">Про DSV</h2>
        </div>
    </div>
    <div class="wrapper">
        <div class="about-slider owl-carousel slider">
            <div class="about-slide">
                <div class="about-slide-img"><img src="./images/about-slide-img-1.jpg" alt="about-slide-img"></div>
                <div class="about-slide-cnt">
                    <p>ТОВ «ДСВ-Україна» засноване у 2010 році і є дочірньою структурою німецької компанії Deutsche Saatveredelung AG, що базується у м. Ліппштадт. Це компанія із майже столітньою історією успіху, яка наразі займає чільне місце серед лідерів у галузі селекції рослин та виробництві насіння у Європі.</p>
                    <p>Метою діяльності DSV є селекція високопродуктивних гібридів різноманітних культур з урахуванням кліматичних та біологічних факторів, притаманних кожному регіону України.</p>
                    <p>Купуючи насіння високоврожайних сортів і гібридів DSV, ви отримуєте незмінну якість за розумною ціною. Окрім цього, ми забезпечуємо вам консультативну підтримку впродовж усього часу нашої плідної співпраці. </p>
                </div>
            </div>
            <div class="about-slide">
                <div class="about-slide-img"><img src="./images/about-slide-img-2.jpg" alt="about-slide-img"></div>
                <div class="about-slide-cnt">
                    <p>ТОВ «ДСВ-Україна» засноване у 2010 році і є дочірньою структурою німецької компанії Deutsche Saatveredelung AG, що базується у м. Ліппштадт. Це компанія із майже столітньою історією успіху, яка наразі займає чільне місце серед лідерів у галузі селекції рослин та виробництві насіння у Європі.</p>
                    <p>Метою діяльності DSV є селекція високопродуктивних гібридів різноманітних культур з урахуванням кліматичних та біологічних факторів, притаманних кожному регіону України.</p>
                    <p>Купуючи насіння високоврожайних сортів і гібридів DSV, ви отримуєте незмінну якість за розумною ціною. Окрім цього, ми забезпечуємо вам консультативну підтримку впродовж усього часу нашої плідної співпраці. </p>
                </div>
            </div>
        </div>
    </div>
</section>