<section class="about-slider-wrap background-gray">
    <div class="white-title">
        <div class="wrapper">
            <h2 class="title">Про DSV</h2>
        </div>
    </div>
    <div class="wrapper">
        <div class="about-slider owl-carousel slider">
            <div class="about-slide">
                <div class="about-slide-img"><img src="./images/about-slide-img-1.jpg" alt="about-slide-img"></div>
                <div class="about-slide-cnt">
                    <p>ТОВ «ДСВ-Україна» засноване у 2010 році і є дочірньою структурою німецької компанії Deutsche Saatveredelung AG, що базується у м. Ліппштадт. Це компанія із майже столітньою історією успіху, яка наразі займає чільне місце серед лідерів у галузі селекції рослин та виробництві насіння у Європі.</p>
                    <p>Метою діяльності DSV є селекція високопродуктивних гібридів різноманітних культур з урахуванням кліматичних та біологічних факторів, притаманних кожному регіону України.</p>
                    <p>Купуючи насіння високоврожайних сортів і гібридів DSV, ви отримуєте незмінну якість за розумною ціною. Окрім цього, ми забезпечуємо вам консультативну підтримку впродовж усього часу нашої плідної співпраці. </p>
                </div>
            </div>
            <div class="about-slide">
                <div class="about-slide-img"><img src="./images/about-slide-img-2.jpg" alt="about-slide-img"></div>
                <div class="about-slide-cnt">
                    <p>ТОВ «ДСВ-Україна» засноване у 2010 році і є дочірньою структурою німецької компанії Deutsche Saatveredelung AG, що базується у м. Ліппштадт. Це компанія із майже столітньою історією успіху, яка наразі займає чільне місце серед лідерів у галузі селекції рослин та виробництві насіння у Європі.</p>
                    <p>Метою діяльності DSV є селекція високопродуктивних гібридів різноманітних культур з урахуванням кліматичних та біологічних факторів, притаманних кожному регіону України.</p>
                    <p>Купуючи насіння високоврожайних сортів і гібридів DSV, ви отримуєте незмінну якість за розумною ціною. Окрім цього, ми забезпечуємо вам консультативну підтримку впродовж усього часу нашої плідної співпраці. </p>
                </div>
            </div>
        </div>
        <div class="btn-wrap">
            <a href="./news.html" class="btn">
                Більше про нас
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9.31008 6.71002C8.92008 7.10002 8.92008 7.73002 9.31008 8.12002L13.1901 12L9.31008 15.88C8.92008 16.27 8.92008 16.9 9.31008 17.29C9.70008 17.68 10.3301 17.68 10.7201 17.29L15.3101 12.7C15.7001 12.31 15.7001 11.68 15.3101 11.29L10.7201 6.70002C10.3401 6.32002 9.70008 6.32002 9.31008 6.71002Z" fill="#616161"/>
                </svg>
            </a>
        </div>
    </div>
</section>