<section class="section article-section">
    <div class="article-banner">
        <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./images/banner-item-6.jpg" alt="banner-item">
    </div>
    <div class="wrapper">
        <p class="article-card-date">9 серпня 2018 року</p>
        <h2 class="article-card-title">Світовий рекорд з урожайності озимого ріпаку.
            Селекція DSV - завжди на крок попереду. </h2>
        <div class="article-card-cnt nopad">
            <p><span>Фермер з британського графства Лінкольншир Тім Лемімен побив світовий рекорд з урожайності ріпаку. </span></p>
            <p>Про це пише британський тижневик Farmers Weekly.
                Йому вдалося підвищити урожай ріпаку до більш як 7 т/га, що майже на 0,5 т/га перевершує попередній світовий рекорд. Рекордний урожай був отриманий з насіння гібриду Sparrow селекції компанії DSV.</p>
            <p>Зареєстрована врожайність у 7 тонн/га побила рекорд 2015 року, коли вдалося отримати врожайність 6,7 тонн/га. І це в той час, коли інші культури дали меншу врожайність у спекотне літо. </p>
            <p>Тім Лемімен вважає, що такому успіхові він завдячує своїй програмі з семиразового позакореневого підживлення, яка дає змогу рослині пустити глибоке коріння взимку і зменшує тепловий стрес влітку. Завдяки цьому вдалося досягти значно вищого урожаю від
                середніх показників урожаю цього літа у фермерських господарствах на рівні 4,8-5 т/га. Два позакореневі підживлення під час цвітіння допомогали стимулювати ріст рослини, боротися з наслідками спекотної погоди та сприяли тому, що посiви триваліший час
                залишалися зеленими.</p>
            <p>“Ми зуміли проконтролювати стрес від спеки, завдяки чому культура змогла дати високий урожай, на відміну від інших культур, урожайності яких завадила спека”, — зазначив фермер.</p>
            <p>Рекордний урожай був вирощений на фермі в 600 га в Ворлабі на ділянці площею 8 га, яка має глинистий грунт та упродовж 10 років не засіювалася ріпаком. Фермер розповів, що упродовж зими урожай був пошкоджений голубами, але при огляді посівів в березні він показав хорошу кореневу структуру з довгим, прямим корінням глибиною до 200-250 мм, що свідчило про потенційну врожайність.</p>
            <p>Раніше в процесі цвітіння фермер двічі здійснював позакореневе підживлення засобом CalFlux, до складу якого входить кальцій. Але цього річ друге підживлення було здійснене препаратом XStress, який містить мідь, залізо, марганець та цинк.</p>
            <p>Урожай оцінювали незалежні судді, в ньому було встановлено 40% вмісту олії та 9% вологи. </p>
        </div>
    </div>
</section>