<section class="section article-section">
    <div class="article-banner">
        <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./images/banner-item-5.jpg" alt="banner-item">
    </div>
    <div class="wrapper">
        <p class="article-card-date">9 серпня 2018 року</p>
        <h2 class="article-card-title">ДСВ Представила гібриди озимого ріпаку з покращеною генетикою</h2>
        <div class="article-card-cnt">
            <p>12 червня на базі ТОВ «Млин Агро», що у Жидачівському районі Львівської області, відбувся День поля, на якому були представлені гібриди озимого ріпаку селекційної компанії ДСВ (DSV). В обробітку господарства 3200 га землі, з них 600 га відведено під посіви озимого ріпаку, 40% цих посівів – займає гібрид Марафон компанії ДСВ.</p>
            <p>
                <span>Директор ТОВ «Млин Агро» Вадим Карп’юк</span>розповідає, що знайомий з компанією ДСВ ось уже 10 років:
                «Знайомство з сортами та гібридами цієї насіннєвої компанії відбулося на одному з Днів поля, після чого і я спробував вирощувати ріпак ДСВ. З того часу я щороку задоволений результатом співпраці з цим німецьким виробником,
                адже ріпак стабільно показує себе дуже добре. І тепер, окрім вже улюбленого гібриду Марафон, планую вирощувати й ще
                гібрид Популар, адже він найкраще показує себе в стресових умовах, таких як засуха та брак вологи.
            </p>
            <p>ДСВ – дуже потужна селекційна компанія. Їхні гібриди озимого ріпаку є значно стабільнішими, ніж гібриди конкурентів. Вони підходять як для раннього, так і для пізнього терміну посіву, а за умов ранньої весни дуже швидко відновлюють вегетацію. Ці гібриди є компактними, стійкими до хвороб та розтріскування стручків, мають невелику вегетаційну масу, що полегшує збір урожаю комбайном», – так обґрунтовує свій вибір на користь селекції ДСВ директор господарства.</p>
            <p>Отож, на Дні поля були представлені п’ять гібридів озимого ріпаку від компанії ДСВ: Династі, Рафінесс, Популар, Марафон і Далтон.</p>
            <h4>Все цінне в одному гібриді</h4>
            <p>Кожен гібрид озимого ріпаку від компанії ДСВ має власні особливі характеристики, тому вибрати гібрид, який показуватиме чудові результати, зможе для себе кожен. </p>
            <p>Детально про них розповів Іван Тимчишин, кандидат с.-г. наук, представник ТОВ «ДСВ-Україна» у Західному регіоні. Він, зокрема, поділився секретами вирощування ріпаку: оптимальне співвідношення посіву – це 30% гібридів для раннього посіву, 40-45% – середнього, а решта – для пізнього. Більшість сучасних гібридів на ринку є ефективними завдяки густоті стояння, а не завдяки одній конкретній рослині, адже саме так можна зібрати максимальні врожаї. Такий напрямок селекції розрахований на ефективніше використання добрив та площі посіву</p>
            <p>Гібрид Династі існує на ринку з 2014 року. Він чудово підходить для вирощування у Центральній та Південній частині України, адже є досить стресостійким. Це середньостиглий гібрид з доброю стійкістю до вилягання і має 100% збереженою стійкістю до розтріскувань стручків. Середній час відновлення вегетації у весняний період знижує вірогідність значного пошкодження ранньовесняними приморозками. За пізнього початку весняної вегетації Династі здатен швидко наростити вегетативну масу ще до початку цвітіння і компенсувати при цьому вплив негативних погодних умов. Гібрид добре компенсує низьку густоту посіву відмінним галуженням окремих рослин.</p>
                
        </div>
    </div>
</section>