<section class="banner-section">
    <div class="banner slider owl-carousel">
        <div class="banner-item" style="background-image: url('./images/banner-item-1.jpg')">
            <div class="banner-title">ДСВ – Інновації для Вашого успіху</div>
        </div>
        <div class="banner-item" style="background-image: url('./images/banner-item-2.jpg')">
            <div class="banner-title">ДСВ – Інновації для Вашого успіху</div>
        </div>
        <div class="banner-item" style="background-image: url('./images/banner-item-3.jpg')">
            <div class="banner-title">ДСВ – Інновації для Вашого успіху</div>
        </div>
        <div class="banner-item" style="background-image: url('./images/banner-item-3.jpg')">
            <div class="banner-title">ДСВ – Інновації для Вашого успіху</div>
        </div>
    </div>
</section>