<section class="brands-section">
    <div class="wrapper">
        <h1 class="page-title title">Бренди DSV</h1>
        <div class="brands">
            <div class="brand">
                <a href="" class="brand-img"><img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./images/brand-img-1.png" alt="brand"></a>
                <p class="brand-cnt"><span>EuroGrass</span> є одним з основних європейських <br> брендів сумішей трав для газону.</p>
            </div>
            <div class="brand">
                <a href="" class="brand-img"><img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./images/brand-img-2.png" alt="brand"></a>
                <p class="brand-cnt"><span>COUNTRY</span> - програма сумішей кормових трав, відома в<br> Німеччині та на міжнародному рівні за високу якість,<br> витривалість та продуктивність у годівлі худоби.
                </p>
            </div>
        </div>
    </div>
</section>