<section class="catalog-section">
    <div class="wrapper">
        <h1 class="page-title title">Каталоги</h1>
        <div class="catalog">
            <div class="catalog-filter open">
                <form action="">
                    <p class="filter-trigger">Показати каталоги : <img src="./images/arrow-top.svg" alt="arrow-top"></p>
                    <label class="checkbox-item">
                        <input type="checkbox" name="2020">
                        <span class="checker"></span>
                        <span class="checker-name">2020 рік</span>
                    </label>
                    <label class="checkbox-item">
                        <input type="checkbox" name="2019">
                        <span class="checker"></span>
                        <span class="checker-name">2019 рік</span>
                    </label>
                    <label class="checkbox-item">
                        <input type="checkbox" name="2018">
                        <span class="checker"></span>
                        <span class="checker-name">2018 рік</span>
                    </label>
                </form>
            </div>
            <div class="catalog-cnt">
                <div class="catalog-item">
                    <a href="" class="catalog-item-img">
                        <img src="./images/catalog-item-1.jpg" alt="catalog-item">
                    </a>
                    <div class="catalog-item-cnt">
                        <p>Каталог озимих культур DSV 2019 <br> (МПП фірма "Ерідон")</p>
                        <a href="#" class="btn btn-green btn-green-small">Відкрити каталог</a>
                    </div>
                </div>
                <div class="catalog-item">
                    <a href="" class="catalog-item-img">
                        <img src="./images/catalog-item-1.jpg" alt="catalog-item">
                    </a>
                    <div class="catalog-item-cnt">
                        <p>Каталог озимих культур DSV 2019 <br> (МПП фірма "Ерідон")</p>
                        <a href="#" class="btn btn-green btn-green-small">Відкрити каталог</a>
                    </div>
                </div>
                <div class="catalog-item">
                    <a href="" class="catalog-item-img">
                        <img src="./images/catalog-item-1.jpg" alt="catalog-item">
                    </a>
                    <div class="catalog-item-cnt">
                        <p>Каталог озимих культур DSV 2019 <br> (МПП фірма "Ерідон")</p>
                        <a href="#" class="btn btn-green btn-green-small">Відкрити каталог</a>
                    </div>
                </div>
                <div class="catalog-item">
                    <a href=""  class="catalog-item-img">
                        <img src="./images/catalog-item-3.jpg" alt="catalog-item">
                    </a>
                    <div class="catalog-item-cnt">
                        <p>Каталог озимих культур DSV 2019 <br> (МПП фірма "Ерідон")</p>
                        <a href="#" class="btn btn-green btn-green-small">Відкрити каталог</a>
                    </div>
                </div>
                <div class="catalog-item">
                    <a href=""  class="catalog-item-img">
                        <img src="./images/catalog-item-4.jpg" alt="catalog-item">
                    </a>
                    <div class="catalog-item-cnt">
                        <p>Каталог озимих культур DSV 2019 <br> (МПП фірма "Ерідон")</p>
                        <a href="#" class="btn btn-green btn-green-small">Відкрити каталог</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>