<div class="contacts-form">
    <div class="wrapper">
        <form action="#">
            <label class="form-field-wrap">
                <p>Призвіще Ім’я По-батькові</p>
                <input type="text" class="form-field" placeholder="Призвіще, Ім’я, По-батькові">
            </label>
            <label class="form-field-wrap">
                <p>Підприємство</p>
                <input type="text" class="form-field" placeholder="Назва вашого підприємства">
            </label>
            <label class="form-field-wrap">
                <p>Телефон</p>
                <input type="tel" class="form-field phone-field" placeholder="+38 (0 __) ___-__-__">
            </label>
            <label class="form-field-wrap">
                <p>E-Mail</p>
                <input type="email" class="form-field" placeholder="Ваш E-Mail">
            </label>
            <label class="checkbox-item">
                <input type="checkbox" name="callback">
                <span class="checker"></span>
                <span class="checker-name">Передзвоніть мені будь ласка</span>
            </label>
            <label class="form-field-wrap form-field-textarea">
                <p>Ваше повідомлення</p>
                <textarea class="form-field" name="message" placeholder="Ваше текстове повідомлення"></textarea>
            </label>
            <input class="form-reset" type="reset" value="Очистити повідомлення">
            <input type="submit" value="Надіслати повідомлення" class="btn">
        </form>
    </div>
</div>