<section class="partners-section">
    <div class="wrapper">
        <h1 class="page-title title">Наші партнери</h1>
        <div class="partners">
            <div class="partner">
                <a href="#" class="partner-img"><img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./images/partner-1.svg" alt="partner"></a>
                <div class="partner-cnt">
                    <div class="partner-cnt-line">
                        <p>Україна, 08132, Київська обл. <br> Києво-Святошинський р-н с. <br> Софіївська Борщагівка<br>  провулок Чорновола, 3</p>
                    </div>
                    <div class="partner-cnt-line">
                        <a href="tel:+38044501880">тел.: +38 (044) 501 88 30</a>
                        <a href="tel:+380445369200">тел.: +38 (044) 536 92 00</a>
                        <a href="mailto:seed@eridon.ua">e-mail: seed@eridon.ua</a>
                    </div>
                    <div class="partner-cnt-line">
                        <a href="www.eridon.ua">www.eridon.ua</a>
                    </div>
                </div>
            </div>
            <div class="partner">
                <a href="#" class="partner-img"><img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./images/partner-2.svg" alt="partner"></a>
                <div class="partner-cnt">
                    <div class="partner-cnt-line">
                        <p>Україна, 03022, м. Київ <br> вул. Смольна, 9Б</p>
                        <a href="tel:+380444943660">тел.: +38 (044) 494-36-60</a>
                    </div>
                    <div class="partner-cnt-line">
                        <a href="mailto:feedback@agroscope.ua">e-mail: feedback@agroscope.ua</a>
                    </div>
                    <div class="partner-cnt-line">
                        <a href="agroscope.ua">сайт: agroscope.ua</a>
                    </div>
                    <div class="partner-cnt-line">
                        <a href="www.facebook.com/agroscope.ua">FB: www.facebook.com/agroscope.ua</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>