<section class="product-section">
    <div class="wrapper">
        <div class="product-titles">
            <h1 class="page-title title">Озимий ріпак</h1>
            <p>Озимий ріпак DSV - результат інновацій та традицій</p>
            <p>Півстолітнім досвідом селекціїї ріпаку ДСВ зробила значний внесок  у розвиток цієї культури в європейському і світовому масштабі.  Саме селекційні досягнення, одним з яких було введення  в комерційний оборот першого сорту озимого ріпаку 00-якості,  стали рушійною силою росту площ культури озимого ріпаку  в Європі і в світі.</p>
        </div>
        <div class="product-list">
            <a href="#" class="products-item">
                <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./images/product-1.jpg" alt="product">
                <span class="products-title">Озима пшениця</span >
                <span class="title-is-new">Новинка</span>
            </a>
            <a href="#" class="products-item">
                <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./images/product-2.jpg" alt="product">
                <span class="products-title">Соя</span >
            </a>
            <a href="#" class="products-item">
                <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./images/product-3.jpg" alt="product">
                <span class="products-title">Травосуміші</span >
            </a>
            <a href="#" class="products-item">
                <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./images/product-4.jpg" alt="product">
                <span class="products-title">Люцерна</span >
            </a>
            <a href="#" class="products-item">
                <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./images/product-5.jpg" alt="product">
                <span class="products-title">Eg diy класична</span >
            </a>
            <a href="#" class="products-item">
                <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./images/product-6.jpg" alt="product">
                <span class="products-title">EG DIY <br> декоративна</span >
            </a>
            <a href="#" class="products-item">
                <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./images/product-7.jpg" alt="product">
                <span class="products-title">EG DIY <br>регенерацiйна</span >
            </a>
            <a href="#" class="products-item">
                <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./images/product-8.jpg" alt="product">
                <span class="products-title">EG DIY тiньова</span >
            </a>
            <a href="#" class="products-item">
                <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./images/product-9.jpg" alt="product">
                <span class="products-title">EG DIY спортивна</span >
            </a>
            <a href="#" class="products-item">
                <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./images/product-10.jpg" alt="product">
                <span class="products-title">ЛІППА ЛІЛІПУТ <br>спецiальна</span >
            </a>
            <a href="#" class="products-item">
                <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./images/product-11.jpg" alt="product">
                <span class="products-title">Льон олійний</span >
            </a>
            <a href="#" class="products-item">
                <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./images/product-12.jpg" alt="product">
                <span class="products-title">Ярий РІпак</span >
            </a>
            <a href="#" class="products-item">
                <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./images/product-13.jpg" alt="product">
                <span class="products-title">Озимий РІпак</span >
            </a>
            <a href="#" class="products-item">
                <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./images/product-14.jpg" alt="product">
                <span class="products-title">Яра Пшениця</span >
            </a>
            <a href="#" class="products-item">
                <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./images/product-15.jpg" alt="product">
                <span class="products-title">Озимий ячмінь</span >
            </a>
        </div>
        <div class="product-titles">
            <h1 class="page-title title">Посів</h1>
            <p>В залежності від клімату регіону, посів озимого ріпаку проводять в строк з 15 серпня по 5 вересня з метою досягнення до кінця передзимової вегетації оптимальної густототи 40-50 рівномірно розміщених рослин /кв. м в стадії 8-10 листків, діаметром шийки кореня 8-10 мм та низькою посадкою шийки корення відносно до поверхні грунту. В ранні і оптимальні строки норма висіву становить 400 – 500 тис. шт. схожих насінин/га. Посів гібридів з нормою вищою ніж 500 тис. шт. схожих насінин/га є небажанним, часто є не тільки невиправданим, але й шкідливим.</p>
        </div>
        <div class="product-table-wrap">
            <div class="product-table">
                <div class="table-block">
                    <table>
                        <tr>
                            <td>Зона</td>
                            <td>Північний Захід і Полісся</td>
                            <td>Південний Захід і Центр</td>
                            <td>Південний Схід</td>
                            <td>Південь</td>
                            <td>Південь Одеської обл., АР Крим</td>
                        </tr>
                        <tr>
                            <td>Область</td>
                            <td>Волинська <br>
                                Львівська <br>
                                Рівненська <br>
                                Житомирська <br>
                                Чернігівська <br>
                                Сумська</td>
                            <td>Ів.-Франківська<br>
                                Харківська<br>
                                Чернівецька<br>
                                Тернопільська<br>
                                Хмельницька<br>
                                Вінницька<br>
                                Київська<br>
                                Кіровоградська<br>
                                Черкаська<br>
                                Полтавська</td>
                            <td>Донецька<br>
                                Луганська<br>
                                Дніпропетровська</td>
                            <td>Запорізька<br>
                                Одеська<br>
                                Миколаївська<br>
                                Херсонська</td>
                            <td>Пд. Одеської<br>
                                АР Крим</td>
                        </tr>
                        <tr>
                            <td>Кінцева дата опт. <br> строку посіву</td>
                            <td>15-20 серпня</td>
                            <td>20-25 серпня </td>
                            <td>до 31 серпня </td>
                            <td>до 10 вересня</td>
                            <td>до 15 вересня</td>
                        </tr>
                    </table>
    
                </div>
                <div class="table-cnt-close"><img src="./images/clear.svg" alt="clear"></div>
            </div>
            <a href="#" class="btn table-cnt-trigger">Таблиця зони вирощування</a>
        </div>
    </div>
</section>