<section class="products">
    <div class="wrapper">
        <h2 class="title">Продукти</h2>
        <div class="products-slider slider owl-carousel">
            <a href="#" class="products-item">
                <img src="./images/product-1.jpg" alt="product">
                <span class="products-title">Озима пшениця</span >
            </a>
            <a href="#" class="products-item">
                <img src="./images/product-2.jpg" alt="product">
                <span class="products-title">Соя</span >
            </a>
            <a href="#" class="products-item">
                <img src="./images/product-3.jpg" alt="product">
                <span class="products-title">Травосуміші</span >
            </a>
            <a href="#" class="products-item">
                <img src="./images/product-4.jpg" alt="product">
                <span class="products-title">Люцерна</span >
            </a>
            <a href="#" class="products-item">
                <img src="./images/product-5.jpg" alt="product">
                <span class="products-title">EG DIY КЛАСИЧНА</span >
            </a>
            <a href="#" class="products-item">
                <img src="./images/product-6.jpg" alt="product">
                <span class="products-title">EG DIY <br> ДЕКОРАТИВНА</span >
            </a>
            <a href="#" class="products-item">
                <img src="./images/product-7.jpg" alt="product">
                <span class="products-title">EG DIY <br>РЕГЕНЕРАЦІЙНА</span >
            </a>
            <a href="#" class="products-item">
                <img src="./images/product-8.jpg" alt="product">
                <span class="products-title">EG DIY ТІНЬОВА</span >
            </a>
            <a href="#" class="products-item">
                <img src="./images/product-9.jpg" alt="product">
                <span class="products-title">EG DIY СПОРТИВНА</span >
            </a>
            <a href="#" class="products-item">
                <img src="./images/product-10.jpg" alt="product">
                <span class="products-title">ЛІППА ЛІЛІПУТ <br>СПЕЦІАЛЬНА</span >
            </a>
            <a href="#" class="products-item">
                <img src="./images/product-11.jpg" alt="product">
                <span class="products-title">Льон олійний</span >
            </a>
            <a href="#" class="products-item">
                <img src="./images/product-12.jpg" alt="product">
                <span class="products-title">Ярий РІпак</span >
            </a>
            <a href="#" class="products-item">
                <img src="./images/product-13.jpg" alt="product">
                <span class="products-title">Озимий РІпак</span >
            </a>
            <a href="#" class="products-item">
                <img src="./images/product-14.jpg" alt="product">
                <span class="products-title">Яра Пшениця</span >
            </a>
            <a href="#" class="products-item">
                <img src="./images/product-15.jpg" alt="product">
                <span class="products-title">Озимий ячмінь</span >
            </a>
        </div>
    </div>
</section>