<div class="videos">
    <div class="white-title">
        <div class="wrapper">
            <h2 class="title">Відео</h2>
        </div>
    </div>
    <div class="wrapper">
        <div class="videos-slider slider owl-carousel">
            <div class="videos-item">
                <a data-fancybox="" href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" class="videos-preview">
                    <img src="./images/videos-preview-1.jpg" alt="videos-preview">
                    <span class="videos-preview-layout">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                viewBox="0 0 494.148 494.148" style="enable-background:new 0 0 494.148 494.148;" xml:space="preserve">
                            <g>
                                <g>
                                    <path d="M405.284,201.188L130.804,13.28C118.128,4.596,105.356,0,94.74,0C74.216,0,61.52,16.472,61.52,44.044v406.124
                                        c0,27.54,12.68,43.98,33.156,43.98c10.632,0,23.2-4.6,35.904-13.308l274.608-187.904c17.66-12.104,27.44-28.392,27.44-45.884
                                        C432.632,229.572,422.964,213.288,405.284,201.188z"/>
                            </g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                        </svg>
                    </span>
                </a>
                <a data-fancybox="" href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" class="videos-cnt"><span>WOSR DSV UA</span></a>
            </div>
            <div class="videos-item">
                <a data-fancybox="" href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" class="videos-preview">
                    <img src="./images/videos-preview-2.jpg" alt="videos-preview">
                    <span class="videos-preview-layout">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                viewBox="0 0 494.148 494.148" style="enable-background:new 0 0 494.148 494.148;" xml:space="preserve">
                            <g>
                                <g>
                                    <path d="M405.284,201.188L130.804,13.28C118.128,4.596,105.356,0,94.74,0C74.216,0,61.52,16.472,61.52,44.044v406.124
                                        c0,27.54,12.68,43.98,33.156,43.98c10.632,0,23.2-4.6,35.904-13.308l274.608-187.904c17.66-12.104,27.44-28.392,27.44-45.884
                                        C432.632,229.572,422.964,213.288,405.284,201.188z"/>
                            </g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                        </svg>
                    </span>
                </a>
                <a data-fancybox="" href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" class="videos-cnt"><span>Гібриди ДСВ на півдні України</span></a>
            </div>
            <div class="videos-item">
                <a data-fancybox="" href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" class="videos-preview">
                    <img src="./images/videos-preview-3.jpg" alt="videos-preview">
                    
                    <span class="videos-preview-layout">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                viewBox="0 0 494.148 494.148" style="enable-background:new 0 0 494.148 494.148;" xml:space="preserve">
                            <g>
                                <g>
                                    <path d="M405.284,201.188L130.804,13.28C118.128,4.596,105.356,0,94.74,0C74.216,0,61.52,16.472,61.52,44.044v406.124
                                        c0,27.54,12.68,43.98,33.156,43.98c10.632,0,23.2-4.6,35.904-13.308l274.608-187.904c17.66-12.104,27.44-28.392,27.44-45.884
                                        C432.632,229.572,422.964,213.288,405.284,201.188z"/>
                            </g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                        </svg>
                    </span>
                </a>
                <a data-fancybox="" href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" class="videos-cnt"><span>Високопродуктивні гібриди озимого ріпаку, стійкі до осипання</span></a>
            </div>
            <div class="videos-item">
                <a data-fancybox="" href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" class="videos-preview">
                    <img src="./images/videos-preview-1.jpg" alt="videos-preview">
                    <span class="videos-preview-layout">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                viewBox="0 0 494.148 494.148" style="enable-background:new 0 0 494.148 494.148;" xml:space="preserve">
                            <g>
                                <g>
                                    <path d="M405.284,201.188L130.804,13.28C118.128,4.596,105.356,0,94.74,0C74.216,0,61.52,16.472,61.52,44.044v406.124
                                        c0,27.54,12.68,43.98,33.156,43.98c10.632,0,23.2-4.6,35.904-13.308l274.608-187.904c17.66-12.104,27.44-28.392,27.44-45.884
                                        C432.632,229.572,422.964,213.288,405.284,201.188z"/>
                            </g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                        </svg>
                    </span>
                </a>
                <a data-fancybox="" href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" class="videos-cnt"><span>WOSR DSV UA</span></a>
            </div>
        </div>
    </div>
</div>