doctype html
html(lang="en")
  head
    //= blocks/head/_head.pug
    title= "Title Of A Project"
  body
    //= blocks/header/_header.pug
    h1 privet
    //= blocks/footer/_footer.pug
    //= blocks/scripts/_scripts.pug