header {
  padding: 23px 0;
  background-color: #00877c;
}
header .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
  list-style: none;
}
header nav ul a {
  font-family: "HelveticaNeueCyr-Roman";
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  letter-spacing: 0.45px;
  color: #ffffff;
  transition: 0.3s ease;
}
@media (max-width: 1100px) {
  header nav ul a {
    font-size: 12px;
    line-height: 12px;
  }
}
header nav ul a:hover {
  color: #bccf00;
}
header nav ul li:not(:last-child) {
  margin-right: 9px;
}
header nav ul .nav-link-btn > a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100px;
  height: 40px;
  margin-right: 35px;
  border: 1px solid #ffffff;
  color: #ffffff;
  box-sizing: border-box;
  border-radius: 2px;
}
header nav ul .nav-link-btn > a:hover {
  border: 1px solid #bccf00;
  color: #bccf00;
}
header nav ul li.active {
  position: relative;
}
header nav ul li.active::before {
  content: "";
  position: absolute;
  left: calc(50% - 20px);
  bottom: -24px;
  display: block;
  width: 40px;
  height: 2px;
  background: #bccf00;
}
header nav ul li {
  position: relative;
  cursor: pointer;
}
header nav ul li .hidden-menu {
  position: absolute;
  top: 100%;
  left: calc(50% - 135px);
  z-index: 2;
  display: none;
  background: transparent;
  padding-top: 39px;
  box-shadow: 1px 4px 4px rgba(22, 109, 158, 0.14);
}
header nav ul li .hidden-menu > li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 270px;
  height: 40px;
  padding: 0 16px;
  margin: 0;
  font-family: "HelveticaNeueCyr-Bold";
  background-color: #ffffff;
  transition: 0.3s ease;
}
header nav ul li .hidden-menu > li a {
  color: #616161;
}
header nav ul li .hidden-menu > li svg {
  transition: 0.3s ease;
}
header nav ul li .hidden-menu > li:hover {
  background: #ebeec6;
  color: #616161;
}
header nav ul li .hidden-menu > li:hover svg {
  transform: rotate(180deg);
}
header nav ul li .hidden-menu > li:hover .hidden-menu-second {
  display: block;
}
header nav ul li .hidden-menu .hidden-menu-second {
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 3;
  display: none;
  width: 270px;
  background: #ffffff;
  padding: 16px;
  box-shadow: 1px 4px 4px rgba(22, 109, 158, 0.14);
}
header nav ul li .hidden-menu .hidden-menu-second li {
  margin: 0;
  font-family: "HelveticaNeueCyr-Bold";
  transition: 0.3s ease;
}
header nav ul li .hidden-menu .hidden-menu-second li > span {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 16px;
}
header nav ul li .hidden-menu .hidden-menu-second li a {
  color: #616161;
}
header nav ul li .hidden-menu .hidden-menu-second li svg {
  transform: rotate(-90deg);
  transition: 0.3s ease;
}
header nav ul li .hidden-menu .hidden-menu-second li svg path {
  transition: 0.3s ease;
}
header nav ul li .hidden-menu .hidden-menu-second li:hover > a {
  color: #00877c;
}
header nav ul li .hidden-menu .hidden-menu-second li:hover svg {
  transform: rotate(180deg);
}
header nav ul li .hidden-menu .hidden-menu-second li:hover svg path {
  fill: #00877c;
}
header nav ul li .hidden-menu .hidden-menu-second li:hover .hidden-menu-third {
  display: block;
  padding-bottom: 16px;
}
header nav ul li .hidden-menu .hidden-menu-second li .hidden-menu-third {
  display: none;
  padding-bottom: 0;
  width: 100%;
}
header
  nav
  ul
  li
  .hidden-menu
  .hidden-menu-second
  li
  .hidden-menu-third
  > li:not(:last-child) {
  padding-bottom: 8px;
}
header nav ul li .hidden-menu .hidden-menu-second li .hidden-menu-third li {
  font-family: "HelveticaNeueCyr-Roman";
  transition: 0.3s ease;
}
header nav ul li .hidden-menu .hidden-menu-second li .hidden-menu-third li a {
  text-transform: none;
}
header
  nav
  ul
  li
  .hidden-menu
  .hidden-menu-second
  li
  .hidden-menu-third
  li:hover
  > a {
  color: #00877c;
}
header nav ul li:hover .hidden-menu {
  display: block;
}
header nav ul .nav-link-catalog {
  color: #bccf00;
}
header nav ul .nav-link-catalog:hover {
  color: #ffffff;
}
.header-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.header-left .logo {
  margin-right: 23px;
}
.header-left .logo svg path {
  transition: 0.3s ease;
}
.header-left .logo:hover svg path {
  fill: #bccf00;
}
.header-left form {
  padding-left: 30px;
}
.header-left form .search-block {
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid #bccf00;
  height: 40px;
  transition: 0.2s linear;
}
.header-left form .search-block .search-field {
  width: 0;
  min-width: 0;
  height: 40px;
  padding-left: 17px;
  opacity: 0;
  overflow: hidden;
  background: transparent;
  transition: 0.3s linear;
  font-family: "HelveticaNeueCyr-Roman";
  font-size: 14px;
  line-height: 14px;
  color: #c4c4c4;
  transition: 0.35s ease;
}
.header-left form .search-block .search-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease;
  overflow: hidden;
}
.header-left form .search-block .search-btn img {
  height: 40px;
  width: 32px;
  overflow: hidden;
  transition: 0.3s ease;
}
.header-left form .search-block button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 0;
  overflow: hidden;
  min-width: 0;
  background: transparent;
  transition: 0.3s ease;
}
.header-left form .search-block button svg {
  width: 0;
}
.header-left form .search-block button svg,
.header-left form .search-block button svg path {
  transition: 0.3s ease;
}
.header-left form .search-block button:hover svg path {
  fill: #bccf00;
}
.header-left form .search-block:hover,
.header-left form .search-block.search-open {
  border: 1px solid #bccf00;
  box-sizing: border-box;
  border-radius: 4px;
  overflow: hidden;
  background: #ffffff;
}
.header-left form .search-block:hover .search-field,
.header-left form .search-block.search-open .search-field {
  min-width: 200px;
  padding: 13px 16px;
  opacity: 1;
  background: #ffffff;
}
@media (max-width: 1100px) {
  .header-left form .search-block:hover .search-field,
  .header-left form .search-block.search-open .search-field {
    min-width: 150px;
    padding: 13px 10px;
  }
}
.header-left form .search-block:hover button,
.header-left form .search-block.search-open button {
  min-width: 70px;
  background: #bccf00;
}
.header-left form .search-block:hover button svg,
.header-left form .search-block.search-open button svg {
  width: 32px;
}
.header-left form .search-block:hover button:hover svg,
.header-left form .search-block.search-open button:hover svg {
  transform: scale(1.05);
}
.header-left form .search-block:hover button:hover svg path,
.header-left form .search-block.search-open button:hover svg path {
  fill: #ffffff;
}
.header-left form .search-block:hover .search-btn img,
.header-left form .search-block.search-open .search-btn img {
  opacity: 0;
  width: 0;
}
.header-right {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-right .header-slogan:nth-child(1) {
  margin-right: 15px;
}
@media (max-width: 1190px) {
  .header-right .header-slogan svg {
    width: 79px;
    height: 47px;
  }
}
